#include <sundials/sundials_types.h> /* definition of type realtype */
#include <nvector/nvector_serial.h>  /* serial N_Vector types, fcts., macros */    
#include <ida/ida.h>         /* prototypes for IDA fcts., consts. */
#include <ida/ida_dense.h>