/doc/doxygen
/tombo/work
*.pyc
.svn
.externalToolBuilders
.settings
.texlipse
/output
x86_64
/external/sergios_golgi/SimData_*
/external/sergios_golgi/Golgi_count.txt
*~
*.swp
build
*.spikes_dat
*.v_dat
*.spikes
*.v
/tom_bash
.DS_Store
/kbrain/external/nemo_testing/neuron/ncml_build_dir/*
