*.pyc
.svn
.externalToolBuilders
.settings
.texlipse
x86_64
*~
*.swp
*.spikes_dat
*.v_dat
*.spikes
*.v
.DS_Store
.9build
/test/data/nmodl/imported/*
/test/data/xml/*.mod
.project
.pydevproject
.cproject
*.so
*.dylib
*.o
.libs
*.Plo
.unit_handler_cache.pkl
/doc/_build
Makefile.in
aclocal.m4
autom4te.cache/
.autotools
/test/raw/nest/build/*
/test/raw/nest/bin/*
/test/raw/nest/config.guess
/test/raw/nest/config.sub
/test/raw/nest/configure
/test/raw/nest/install-sh
/test/raw/nest/missing
/test/raw/nest/depcomp
/test/raw/nest/compile
/test/raw/nest/nest-build
/test/raw/nest/nest-install
*.gdf
