{#
   NMODL template for NET_RECEIVE block

   This template defines the NMODL NET_RECEIVE block which is used to 
   process transient events in the system.

   Template variables are:

   - indent: the current indentation level
   - eventLocals: a list with the names of all local variables that appear in the transient event expressions of the system
   - externalEventEqDefs: a list of strings with the equations for the external event variables (e.g. synaptic weight)   
   - transientEventEqDefs: a list of strings with the equations for the transient events (e.g. synaptic state update)   
#}

{% if (hasEvents) %}
NET_RECEIVE ({{eventVars | join (", ")}}) {
	{% if eventLocals %}
	LOCAL {{eventLocals | join (", ")}}
	{% endif %}
	{% for eq in externalEventEqDefs %}
	    {{eq}}
	{% endfor %}
	{% for eq in transientEventEqDefs %}
	    {{eq}}
	{% endfor %}
}
{% endif %}
