/*
 * Initialization file for {{component.name}}.
 * Run automatically when {{component.name}} is loaded.
 */

M_DEBUG ({{component.name}}Loader.sli) (Initializing SLI support for {{component.name}}.) message

/{{component.name}}Loader /SLI ($Revision: 7918 $) provide-component
/{{component.name}}Loader /C++ (7165) require-component

/StepPatternConnect [ /arraytype /integertype /arraytype /integertype /literaltype ]
{
  StepPatternConnect_Vi_i_Vi_i_l
} def
