{% macro map_required_vars_locally(expressions, component_class, component_name, unit_handler, previous_expressions, exclude) %}
{# Maps the variables and aliases required for the expressions in 'expressions' except where they would have already
   been required for expressions in 'previous_expressions' #}
    {% set required = component_class.required_for(expressions) %}
    {% set previous = component_class.required_for(previous_expressions) %}
    {% set debug = False %}
// State Variables
    {% for sv, units in unit_handler.assign_units_to_variables(required.state_variables) if (sv not in previous.state_variables and sv.name not in exclude) %}
const double_t& {{sv.name}} = S_.y_[{{component_name}}::State_::{{sv.name}}_INDEX];  // ({{units}})
    {% endfor %}
    
    {% if debug %}
std::cout << "-------- time " << t << " ---------" << std::endl;    
std::cout << "9ML States:"
        {%- for name in sorted(required.state_variable_names) if name not in chain(previous.state_variable_names, exclude) -%}
        << " {{name}}=" << S_.y_[{{component_name}}::State_::{{name}}_INDEX]
        {%- endfor -%}
<< std::endl;
    {% endif %}

// Parameters
    {% for param, units in unit_handler.assign_units_to_variables(required.parameters) if param not in previous.parameters and param.name not in exclude %}
const double_t& {{param.name}} = P_.{{param.name}};  // ({{units}})
    {% endfor %}
    {% if debug %}
std::cout << "9ML Parameters:"
        {%- for name in sorted(required.parameter_names) if name not in chain(previous.parameter_names, exclude) -%}
        << " {{name}}=" << P_.{{name}}
        {%- endfor -%}
<< std::endl;
    {% endif %}

// Analog receive ports
    {% for port, units in unit_handler.assign_units_to_variables(required.ports) if port not in previous.ports and port.name not in exclude %}
const double_t& {{port.name}} = B_.{{port.name}}_value;  // ({{units}})
    {% endfor %}
    {% if debug %}
std::cout << "9ML Analog receive ports:"
        {%- for name in sorted(required.port_names) if name not in chain(previous.port_names, exclude) -%}
        << " {{name}}=" << {{name}}
        {%- endfor -%}
<< std::endl;
    {% endif %}

// Constants
    {% for const, value, units in unit_handler.assign_units_to_constants(required.constants) if const not in previous.constants and const.name not in exclude %}
const static double_t {{const.name}} = {{value}};  // ({{units}})
    {% endfor %}
    {% if debug %}
std::cout << "9ML Constants:"
        {%- for name in sorted(required.constants) if name not in chain(previous.constant_names, exclude) -%}
        << " {{name}}=" << {{name}}
        {%- endfor -%}
<< std::endl;
    {% endif %}

// Random variables
    {% for rv, scale, units in unit_handler.assign_units_to_constants(required.random_variables) if rv not in previous.random_variables and rv.name not in exclude %}
const double_t {{rv.name}} = {{scale}} * {{get_random_function(rv)}}  // ({{units}})
    {% endfor %}
    {% if debug %}
std::cout << "9ML Random variables:"
        {%- for name in sorted(required.random_variable_names) if name not in chain(previous.random_variable_names, exclude) -%}
        << " {{name}}=" << {{name}}
        {%- endfor -%}
<< std::endl;
    {% endif %}

// Aliases
    {% for alias, scaled_rhs, units  in unit_handler.scale_aliases(required.expressions) if alias not in previous.expressions and alias.name not in exclude %}
{# Is a Piecewise statement 
        {% if hasasttr(scaled_rhs, 'pieces') %}
double_t {{alias.name}};  // ({{units}})
            {% for piece in scaled_rhs.pieces %}
{{elseif(loop.first)}} if ({{piece.condition}}) {
    {{alias.name}} = {{piece.rhs_cstr}};
            {%- endfor %}
} else {
    {{alias.name}} = {{scaled_rhs.otherwise.rhs_cstr}};
}
        {% else %}#}
const double_t {{alias.name}} = {{scaled_rhs.rhs_cstr}};  // ({{units}})
        {#{% endif %}#}
    {% endfor %}
    {% if debug %}
std::cout << "9ML Aliases:"
        {%- for name in sorted(required.expression_names) if name not in chain(previous.expression_names, exclude) -%}
        << " {{name}}=" << {{name}}
        {%- endfor -%}
<< std::endl;
std::cout << "-----------------" << std::endl;
    {% endif %}

{% endmacro %}

{% macro set_triggers(regime, component_class, component_name, unit_handler) %}
    {% for oc in regime.on_conditions %}
B_.{{regime.name}}_trigger_{{regime.index_of(oc)}}_active = !({{oc.trigger.rhs_cstr}});
    {% endfor %}
{% endmacro %}
