#include <sundials/sundials_types.h> /* definition of type realtype */
#include <nvector/nvector_serial.h>  /* serial N_Vector types, fcts., macros */
#include <cvode/cvode.h>       /* prototypes for CVODE fcts., consts. */
#include <cvode/cvode_diag.h>    /* prototype for CVDiag */