{#
   ASSIGNED section template

   Template variables are:

   - indent: the current indentation level
   - assignedDefs: a list with the names of all state variables that appear in the current system
#}

ASSIGNED {
{% for def in assignedDefs %}
    {{def}}
{% endfor %}
}
