{#
   NMODL function template 

   Template variables are:

   - indent: current indentation level
   - functionName: string with the name of the function
   - functionVars: list of strings with the name of the arguments
   - exprString: string with expression body converted to NMODL syntax
   
#}

FUNCTION {{functionDef.name}} ({{functionDef.vars | join (", ")}}) {
{% if functionDef.localVars %}
    LOCAL {{functionDef.localVars | join (", ")}}
{% endif %}
    {{functionDef.exprString}}
} 
