
{#
   PARAMETER section template

   Template variables are:

   - indent: the current indentation level
   - parameterLocals: a list with the names of all local variables that appear 
                      in the right-hand side of the parameter equations
   - parameterDefs: a list of strings with the parameter equations in NMODL syntax
#}
PARAMETER {

{% for prop in properties %}
  {% if prop.is_single() %}
  {{prop.name}} = {{prop.value}}
  {% endif %} 
{% endfor %}

}
