{#
   NMODL template for pool equations

   This template defines an NMODL procedure alled "pools" which is
   invoked in the BREAKPOINT the INITIAL blocks to compute the values of
   the ionic pool state variables.
 
   Template variables are:

   - indent: the current indentation level
   - poolIons: a list of object with the following fields:

               - in - the name of internal concentration for the ionic species
               - out - the name of external concentration for the ionic species
               - inq, outq - the names of the quantities that are actually used to compute the concentrations
                 (in some cases, they can be the same as in and out)
#}
{% if poolIons %}
PROCEDURE pools () {
    {% for poolIon in poolIons %}
  {{poolIon.in}} = {{poolIon.inq}}
  {{poolIon.out}} = {{poolIon.outq}}
    {% endfor %}
}

{% endif %}
