{#
   STATE section template

   Template variables are:

   - indent: the current indentation level
   - stateDefs: a list with the names of all state variables that appear in the current system
#}
{% if stateDefs %}
STATE {
    {% for def in stateDefs %}
  {{def}}
    {% endfor %}
}

{% endif %}