libdir= @libdir@/nest

lib_LTLIBRARIES=      {{component.name}}Loader.la lib{{component.name}}Loader.la

{{component.name}}Loader_la_CXXFLAGS= @AM_CXXFLAGS@
{{component.name}}Loader_la_SOURCES=  {{component.name}}.cpp {{component.name}}.h \
                                     {{component.name}}Loader.cpp {{component.name}}Loader.h


{{component.name}}Loader_la_LDFLAGS=  -module @SUNDIALS_LDFLAGS@

lib{{component.name}}Loader_la_CXXFLAGS= $({{component.name}}Loader_la_CXXFLAGS) -DLINKED_MODULE
lib{{component.name}}Loader_la_SOURCES=  $({{component.name}}Loader_la_SOURCES)

MAKEFLAGS= @MAKE_FLAGS@

AM_CPPFLAGS= @NEST_CPPFLAGS@ \
             @SUNDIALS_CPPFLAGS@ \
             @INCLTDL@

AM_LDFLAGS = @SUNDIALS_LDFLAGS@

.PHONY: install-slidoc

nobase_pkgdata_DATA=\
	{{component.name}}Loader.sli

install-slidoc:
	NESTRCFILENAME=/dev/null $(DESTDIR)$(NEST_PREFIX)/bin/sli --userargs="@HELPDIRS@" \
	$(NEST_PREFIX)/share/nest/sli/install-help.sli

install-data-hook: install-exec install-slidoc

EXTRA_DIST= sli
