libdir= @libdir@/nest

lib_LTLIBRARIES=      {{name}}Module.la lib{{name}}Module.la

{{name}}Module_la_CXXFLAGS= @AM_CXXFLAGS@
{{name}}Module_la_SOURCES=  {{name}}.cpp {{name}}.h \
                            {{name}}Module.cpp {{name}}Module.h


{{name}}Module_la_LDFLAGS=  -module @SUNDIALS_LDFLAGS@

lib{{name}}Module_la_CXXFLAGS= $({{name}}Module_la_CXXFLAGS) -DLINKED_MODULE
lib{{name}}Module_la_SOURCES=  $({{name}}Module_la_SOURCES)

MAKEFLAGS= @MAKE_FLAGS@

AM_CPPFLAGS= @NEST_CPPFLAGS@ \
             @SUNDIALS_CPPFLAGS@ \
             @INCLTDL@

AM_LDFLAGS = @SUNDIALS_LDFLAGS@

.PHONY: install-slidoc

nobase_pkgdata_DATA=\
	sli/{{name}}Module-init.sli

install-slidoc:
	NESTRCFILENAME=/dev/null $(DESTDIR)$(NEST_PREFIX)/bin/sli --userargs="@HELPDIRS@" \
	$(NEST_PREFIX)/share/nest/sli/install-help.sli

install-data-hook: install-exec install-slidoc

EXTRA_DIST= sli
