libdir= @libdir@/nest

lib_LTLIBRARIES=      {{name}}Loader.la lib{{name}}Loader.la

{{name}}Loader_la_CXXFLAGS= @AM_CXXFLAGS@
{{name}}Loader_la_SOURCES=  {{name}}.cpp {{name}}.h \
                                     {{name}}Loader.cpp {{name}}Loader.h


{{name}}Loader_la_LDFLAGS=  -module @SUNDIALS_LDFLAGS@

lib{{name}}Loader_la_CXXFLAGS= $({{name}}Loader_la_CXXFLAGS) -DLINKED_MODULE
lib{{name}}Loader_la_SOURCES=  $({{name}}Loader_la_SOURCES)

MAKEFLAGS= @MAKE_FLAGS@

AM_CPPFLAGS= @NEST_CPPFLAGS@ \
             @SUNDIALS_CPPFLAGS@ \
             @INCLTDL@

AM_LDFLAGS = @SUNDIALS_LDFLAGS@

.PHONY: install-slidoc

nobase_pkgdata_DATA=\
	{{name}}Loader.sli

install-slidoc:
	NESTRCFILENAME=/dev/null $(DESTDIR)$(NEST_PREFIX)/bin/sli --userargs="@HELPDIRS@" \
	$(NEST_PREFIX)/share/nest/sli/install-help.sli

install-data-hook: install-exec install-slidoc

EXTRA_DIST= sli
