/*
 * Initialization file for {{component_name}}.
 * Run automatically when {{component_name}} is loaded.
 */

M_DEBUG ({{component_name}}Module.sli) (Initializing SLI support for {{component_name}}Module.) message

{#
/{{component_name}}Module /SLI ($Revision: 7918 $) provide-component
/{{component_name}}Module /C++ (7165) require-component
#}

/StepPatternConnect [ /arraytype /integertype /arraytype /integertype /literaltype ]
{
  StepPatternConnect_Vi_i_Vi_i_l
} def
